[submodule "Plugin/debug_kit"]
	path = Plugin/debug_kit
	url = http://github.com/cakephp/debug_kit.git
[submodule "Plugin/migrations"]
	path = Plugin/migrations
	url = http://github.com/CakeDC/migrations.git
[submodule "Plugin/utils"]
	path = Plugin/utils
	url = git://github.com/CakeDC/utils.git
[submodule "Plugin/users"]
	path = Plugin/users
	url = http://github.com/CakeDC/users.git
[submodule "Plugin/search"]
	path = Plugin/search
	url = http://github.com/CakeDC/search.git
[submodule "Plugin/tags"]
	path = Plugin/tags
	url = git@github.com:neterslandreau/tags.git
