[submodule "Plugin/debug_kit"]
	path = Plugin/debug_kit
	url = https://github.com/cakephp/debug_kit.git
[submodule "Plugin/migrations"]
	path = Plugin/migrations
	url = https://github.com/CakeDC/migrations.git
[submodule "Plugin/utils"]
	path = Plugin/utils
	url = git://github.com/CakeDC/utils.git
